.app {
  display: flex;
  flex-direction: column;
}

/*
NAVIGAITON
*/
.nav_container {
  width: 100%;
  list-style: none;
}

.nav {
  text-align: center;
}

.nav_btn {
  margin: 2px 2px 2px 0;
  padding: 6px;
  font-size: 14px;
  color: #fff;
  background: #1e88e5;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none; 
}


/*
PROFILE
*/
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  height: 40vh;
  width: 100%;
  background: #fafafa;
  text-align: center;
}

.profile_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/*
JOB
*/
.job_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 50px;
  color: #fafafa;
  background: #54e7c7;
}

.job_date {
  font-size: 14px;
  font-weight: 300;
}

.job_paragraph {
  font-style: italic;
}

/*
CARD
*/
.card_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}


/*
EDUCATION
*/
.education_header {
  color: #4a4a4a;
  text-align: center;
}

.education_text {
  text-align: center;
}

.education_subheader {
  margin-bottom: 20px;
}

/*
SKILLS
*/
.skill {
  margin: 2px 4px 2px 0;
  color: #fff;
  padding: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background: #1e88e5;
}

.skills-list_header {
  color: #4a4a4a;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

/*
CONTACT
*/
.contact_header {
  color: #4a4a4a;
}


/*
CONTAINERS
*/
.skills-list_container,
.contact_container,
.education_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}